.outf{
    display: flex;
    flex-direction: column;
}
.inner{
    display: flex;
    border: 2px sold black;
}
#vehicale{
    display: flex;
    justify-content: left;
    padding-left: 20px;
    margin-left: 20px;
    border: 2px solid black;
}
.table{
    border: 1px solid black;
}
.but{
    padding: 8px;
    margin: 5px;
    border: 2px solid green;
    border-radius: 10px;
    background-color: green;
    color: aliceblue;
}



/* Hide scrollbar for all elements */
::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge, and Firefox */
  html {
    scrollbar-width: none; /* Firefox */
  }
  body {
    -ms-overflow-style: none; /* IE and Edge */
  }

  
  /* Hide scrollbar for a specific container */
.specific-container {
    overflow: auto; /* Ensure scrolling still works */
  }
  
  .specific-container::-webkit-scrollbar {
    display: none;
  }
  
  .specific-container {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
  }
  
